
@charset "utf-8"; 

*{margin: 0;padding: 0;}
ul,li{list-style: none;}
html,body{width: 100%;height: 100%;}
#main{
    width: 500px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: url(../img/images/bg.jpg) repeat; 
    background-size: cover;
    overflow: hidden;
    #list{
        width: 250px;
        position: absolute;
        left: 125px;
        top: 150px;
        li{
            width: 248px;
            height: 70px;
            background: green;
            color: white;
            font-size: 30px;
            text-align: center;
            line-height: 70px;
            border: 1px solid #000;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }  
} 
.logo{
    width: 428px;
    height: 104px;
    background: url(../img/images/logo.png);
    position: absolute;
    left: 36px;
    top: 20%;
}
.load{
    width: 200px;
    height: 42px;
    /*background: url(img/images/loading1.png) no-repeat;
    background-size: cover;*/
    position: absolute;
    left: 150px;
    top: 80%;
}
.myplane{
    width: 98px;
    height: 122px;
    background: url(../img/images/me.png);
    position: absolute;
}
.bullet{
    width: 7px;
    height: 18px;
    background: url(../img/images/bullet.png);
    position: absolute;
}  
.largePlane{
    width: 165px;
    height: 256px;
    background: url(../img/images/plane3.png);
    position: absolute;
}
.middlePlane{
    width: 70px;
    height: 92px;
    background: url(../img/images/plane2.png);
    position: absolute;
}
.smallPlane{
    width: 59px;
    height: 36px;
    background: url(../img/images/plane1.png);
    position: absolute; 
}
.bulletboom{
    width: 40px;
    height: 43px;
    background: url(../img/images/die1.png); 
    position: absolute; 
}
.myplaneboom{
    width: 98px;
    height: 122px;
    background: url(../img/images/me_die1.png);
    position: absolute; 
}
#scro{
    width:50px;
    height:30px;
    position:absolute;
    right: 0;
    top: 0;
    background: yellow;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;  
}